---
layout: default
title: Home
---

<div class="blurb">
	<img class="home-photo" src="/images/profile.jpg" alt="profile">
	<div class="home-profile">
		<h1>Hi there!</h1>
		<p>I'm Roger Filomeno. I'm a Research and Development Specialist from Philippines.
			I like designing and building products based on emerging web technologies. My main focus
			is on telecomunication and banking industries. You can find some of my opensource projects
			hosted here on GitHub so feel free to check them out or contact me if you like to collaborate
			on a project. If you want to know more about me, follow <a rel="me" href="https://mastodon.social/@godieph">@godie@mastodon.social</a>.
			</p> 
	</div>


</div><!-- /.blurb -->


<div class="clearfix"></div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">My Proficiency</h3>
	</div>
	<div class="panel-body">

		<h4>PHP: Hypertext Preprocessor</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90%" aria-valuemin="0"
				aria-valuemax="90">
				<span class="sr-only">Expert</span>
			</div>
		</div>


		<h4>Cloud Computing: AWS, ELK, K8s, Serverless and Terraform</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80%" aria-valuemin="0"
				aria-valuemax="90">
				<span class="sr-only">Expert</span>
			</div>
		</div>


		<h4>HTML, JavaScript/Node and CSS</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80%" aria-valuemin="0"
				aria-valuemax="80">
				<span class="sr-only">Expert</span>
			</div>
		</div>


		<h4>PCI-DSS Compliance</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75%" aria-valuemin="0"
				aria-valuemax="75">
				<span class="sr-only">Master</span>
			</div>
		</div>

		<h4>Visual Basic, C# .Net Framework</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75%" aria-valuemin="0"
				aria-valuemax="75">
				<span class="sr-only">Master</span>
			</div>
		</div>

		<h4>Java</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60%" aria-valuemin="0"
				aria-valuemax="60">
				<span class="sr-only">Master</span>
			</div>
		</div>

		<h4>Python</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40%" aria-valuemin="0"
				aria-valuemax="40">
				<span class="sr-only">Intermediate</span>
			</div>
		</div>

		<h4>Assembly</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20%" aria-valuemin="0"
				aria-valuemax="20">
				<span class="sr-only">Beginner</span>
			</div>
		</div>

		<h4>Ruby</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20%" aria-valuemin="0"
				aria-valuemax="20">
				<span class="sr-only">Beginner</span>
			</div>
		</div>
		
		<script>
		  $(document).on('ready',function(){
		    $('.progress-bar').css("width",function() {
		      return $(this).attr("aria-valuenow") + "%";
		    })
		  })
		</script>

		<h4>Other Stack</h4>
		<span class="label label-default">Perl</span>
		<span class="label label-default">Bash</span>
		<span class="label label-default">Flash, Actionscript, Flex</span>
		<span class="label label-default">C++</span>
		<span class="label label-default">Go</span>
		<span class="label label-default">Lisp</span>
		<span class="label label-default">Prolog</span>
		<span class="label label-default">VBScript</span>
		<span class="label label-default">AutoIt</span>
		<span class="label label-default">Pascal</span>
	</div>
</div>

<div id="github-projects" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Github projects (featured)</h3>
	</div>
	<div class="panel-body">

		<div class="media">
			<div class="media-left media-middle">
				<a href="https://github.com/rpfilomeno/bref-vpc-starter">
					<img class="media-object" src="images/thumb/th_serverless-icon.png" alt="Bref PHP Starter Kit"
						width="64" height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a
						href="https://github.com/rpfilomeno/bref-vpc-starter">rpfilomeno/bref-vpc-starter</a></h4>
				A boilerplate for running PHP websites in AWS Lamda using Serverless framework and Bref. Features
				includes stages, Localstack testing, and SSM Secrets. Enabled VPC access to allow you to connect into
				your EC2, RDS and the Internet securely via the NAT Gateway.
			</div>
		</div>


		<div class="media">
			<div class="media-left media-middle">
				<a href="https://github.com/rpfilomeno/stacksleague">
					<img class="media-object" src="images/thumb/th_stacksleague-icon.png" alt="Stacks League Challenges"
						width="64" height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a
						href="https://github.com/rpfilomeno/stacksleague">rpfilomeno/stacksleague</a></h4>
				A boilerplate for solving Stacks League Challenges by allowing you to use the problems own unit tests to
				check your solution code locally before submitting.
			</div>
		</div>


		<div class="media">
			<div class="media-left media-middle">
				<a href="https://github.com/rpfilomeno/Buyline-CardsAPI">
					<img class="media-object" src="images/thumb/th_bnz-icon.png" alt="Bank of New Zealand" width="64"
						height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a
						href="https://github.com/rpfilomeno/Buyline-CardsAPI">rpfilomeno/Buyline-CardsAPI</a></h4>
				Pure PHP implementation of Buy-Line SWIG API used by Bank of New Zealand.
			</div>
		</div>


		<div class="media">
			<div class="media-left media-middle">
				<a href="https://github.com/rpfilomeno/voip-mon-aws-cloudwatch">
					<img class="media-object" src="images/thumb/th-aws-64x64.png"
						alt="VOIP Statistics to AWS CloudWatch" width="64" height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a
						href="https://github.com/rpfilomeno/voip-mon-aws-cloudwatch">rpfilomeno/voip-mon-aws-cloudwatch</a>
				</h4>
				A monitoring script for Kamailio and Asterisk for AWS CloudWatch written in PHP. This works similarly to
				AWS CloudWatch Monitoring Script (Linux).
			</div>
		</div>

		<div class="media">
			<div class="media-left media-middle">
				<a href="https://github.com/rpfilomeno/tr069config">
					<img class="media-object" src="images/thumb/th-huawei-64x64.png"
						alt="TR069Config for Huawei eSpace devices" width="64" height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a href="https://github.com/rpfilomeno/tr069config">rpfilomeno/tr069config</a>
				</h4>
				CLI based tool written on PHP to configures Huawei eSpace devices, this also provides the Auto
				Configuration Servers (ACS) component.
			</div>
		</div>

		<div class="media">
			<div class="media-left media-middle">
				<a href="https://github.com/rpfilomeno/tokenizer">
					<img class="media-object" src="images/thumb/th-apigility-64x64.png" alt="Tokenizer" width="64"
						height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a href="https://github.com/rpfilomeno/tokenizer">rpfilomeno/tokenizer</a>
				</h4>
				REST based Token Server that receives Credit Card PANs securely and returns a token hash.
			</div>
		</div>

		<div class="media">
			<div class="media-left media-middle">
				<a href="https://github.com/rpfilomeno/URLTester">
					<img class="media-object" src="images/thumb/th-url-64x64.png" alt="Tokenizer" width="64"
						height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a href="https://github.com/rpfilomeno/URLTester">rpfilomeno/URLTester</a>
				</h4>
				Test the URL's load time.
			</div>
		</div>
	</div>
</div>

<div id="white-papers" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Papers published</h3>
	</div>
	<div class="panel-body">

		<div class="media">
			<div class="media-left media-middle">
				<a
					href="http://www.slideshare.net/RogerFilomeno/cellular-data-offloading-through-wifi-mesh-network-utilizing-white-space-frequencies-wp">
					<img class="media-object" src="images/thumb/th-slideshare-64x64.png" alt="Tokenizer" width="64"
						height="64">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a
						href="http://www.slideshare.net/RogerFilomeno/cellular-data-offloading-through-wifi-mesh-network-utilizing-white-space-frequencies-wp">Cellular
						Data-offloading Through Wifi-mesh Network Utilizing White-space Frequencies</a></h4>
				Draft whitepaper that present an idea using RFC4185 (EAP-SIM) for mobile networks to offload its data
				users to local WIFI networks.
			</div>
		</div>



	</div>
</div>

<div id="recent-blog" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Recent Blog Posts</h3>
	</div>
	<div class="panel-body">
		<div class="posts card-main">

			{% for post in site.posts limit:2 %}
			<div class="card-container">
				<div class="card blog-card">
					{% if post.thumbnail %}
					<div class="card-top-image" style="background-image: url('{{ post.thumbnail }}');">
						<h3 class="card-title card-title-shadow">
							<a class="card-link" href="{{ post.url }}">{{ post.title }}</a>
						</h3>
					</div>
					{% else %}
					<div class="card-top-image"
						style="background-image: url('/images/thumb/th_lorem.png');">
						<h3 class="card-title card-title-shadow">
							<a class="card-link" href="{{ post.url }}">{{ post.title }}</a>
						</h3>
					</div>
					{% endif %}
					<div class="card-block">

						<p class="card-text"><span>{{ post.date | date_to_string }}</span> »
							{{ post.content | split:'<!--break-->' | first }}</p>
						{% if post.content contains '<!--break-->' %}
						<h3>...</h3>
						<a class="card-link" href="{{ post.url }}" class="btn btn-primary">Read more</a>
						{% endif %}

					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div id="fb-root"></div>
<script>
	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);
		js.id = id;
		js.src =
			'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=946107866113016&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div id="fb-widget" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">My Managed Groups</h3>
	</div>
	<div class="panel-body">
		<!--Your Group Plugin for the Web code-->
		<div class="media">
			<div class="fb-group" data-href="https://web.facebook.com/groups/IT.Specialists" data-width="280"
				data-show-metadata="false">
			</div>
		</div>


		<div class="media">
			<div class="fb-group" data-href="https://web.facebook.com/groups/PhilippineDigitalMarketing"
				data-width="280" data-show-metadata="false">
			</div>
		</div>


		<div class="media">
			<div class="fb-group" data-href="https://web.facebook.com/groups/VC.StartUps" data-width="280"
				data-show-metadata="false">
			</div>
		</div>
	</div>
</div>
