.blurb {
  background-color: $background-color;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 10px;
}


.page-content .wrapper {
  background-color: $background-color;
  border-radius: 5px;
  margin-top: 50px;
  padding-top: 20px;
}

.card-main {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;

}

.card-container {
  width: 100%;
  height: 100%;
  float: left;
  margin-bottom: 20px;
}

.card-container .card {

  display: inline-block;
}

.card-top-image {
  border-radius: 10px;
  padding: 5px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.card-title-shadow {
  padding: 2px;
  color: white;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(27, 27, 27, 0.7);
}

.card-top-image a {
  color: white;
}

.card-top-image a:visited {
  color: white;
}

.card-top-image a:hover {
  color: white;
  text-decoration: underline;
}

.post-tags a {
  color: white;
}

.post-tags a:visited {
  color: white;
}

.post-categories a {
  color: #2a7ae2;
}

.post-tags a:visited {
  color: #2a7ae2;
}

.post-image {
  margin: 10px;
  background-color: rgb(60, 64, 66);
}

.post-image img {
  width: 100%;
  border-radius: 10px;
  border-color: rgb(60, 64, 66);
  border-width: 5px;
  border-style: solid;
}

.panel-body .categories {
  line-height: 2;
}

a.label-default:visited {
  color: white;
}

.blog-card {
  width: 100%;
  background-color: antiquewhite;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.gallery-dropdown a:visited {
  color: black;

}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}


#github-projects, #white-papers {

  .panel-body {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;

  }

  .panel-body .media {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    float: left;
    padding-bottom: 20px;
  }

  .panel-body .media .media-left {
    float: left;
  }
}


#fb-widget {

    .panel-body {
      -webkit-column-count: 3;
      /* Chrome, Safari, Opera */
      -moz-column-count: 3;
      /* Firefox */
      column-count: 3;
  
    }
  
    .panel-body .media {
      margin-top: 0px;
      width: 100%;
      height: 100%;
      float: left;
      padding-bottom: 20px;
      text-align: center;
    }
  
    .panel-body .media .media-left {
      float: left;
    }
}


#mylists {

  .panel-body {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;

  }

  .panel-body .media {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    float: left;
    padding-bottom: 20px;
    text-align: center;
  }

  .panel-body .media .media-left {
    float: left;
  }
}